apiVersion: 1
groups:
    - orgId: 1
      name: 10s
      folder: Evento detectado
      interval: 10s
      rules:
        - uid: cf5537s66x728f
          title: Evento - chain_reorg
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: P3C6603E967DC8568
              model:
                intervalMs: 60000
                maxDataPoints: 43200
                query: "from(bucket: \"ethereum-monitor\")\r\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\r\n  |> filter(fn: (r) => r[\"_measurement\"] == \"beacon_event\")\r\n  |> filter(fn: (r) => r[\"_field\"] == \"count\")\r\n  |> filter(fn: (r) => r[\"endpoint\"] == \"/eth/v1/events\")\r\n  |> filter(fn: (r) => r[\"event_type\"] == \"chain_reorg\")\r\n  |> filter(fn: (r) => r[\"network\"] == \"mainnet\")\r\n  |> aggregateWindow(every: v.windowPeriod, fn: mean, createEmpty: true)\r\n  |> yield(name: \"mean\")"
                refId: A
            - refId: B
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: last
                refId: B
                type: reduce
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: bela16lm5xtdsf
          panelId: 4
          noDataState: OK
          execErrState: Error
          annotations:
            __dashboardUid__: bela16lm5xtdsf
            __panelId__: "4"
            description: Esto ocurre cuando se detectan temporalmente dos versiones de la blockchain (una bifurcación) y el nodo elige unirse a la que se considera la versión canónica (la más fuerte), haciendo que los bloques de la cadena descartada sean inválidos.
            summary: Evento chain_reorg detectado
          isPaused: false
          notification_settings:
            receiver: Evento detectado
        - uid: ef553v84wds74a
          title: Evento - slashing
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 600
                to: 0
              datasourceUid: P3C6603E967DC8568
              model:
                intervalMs: 60000
                maxDataPoints: 43200
                query: "from(bucket: \"ethereum-monitor\")\r\n  |> range(start: v.timeRangeStart, stop: v.timeRangeStop)\r\n  |> filter(fn: (r) => r[\"_measurement\"] == \"beacon_event\")\r\n  |> filter(fn: (r) => r[\"_field\"] == \"count\")\r\n  |> filter(fn: (r) => r[\"endpoint\"] == \"/eth/v1/events\")\r\n  |> filter(fn: (r) => r[\"event_type\"] == \"proposer_slashing\" or r[\"event_type\"] == \"attester_slashing\")\r\n  |> filter(fn: (r) => r[\"network\"] == \"mainnet\")\r\n  |> aggregateWindow(every: v.windowPeriod, fn: mean, createEmpty: true)\r\n  |> yield(name: \"mean\")"
                refId: A
            - refId: B
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: last
                refId: B
                type: reduce
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: bela16lm5xtdsf
          panelId: 4
          noDataState: OK
          execErrState: Error
          annotations:
            __dashboardUid__: bela16lm5xtdsf
            __panelId__: "4"
            description: es una penalización severa impuesta a los validadores que violan las reglas del protocolo, como la doble firma de bloques o la "surrounding" de atestaciones.
            summary: Evento slashing detectado
          isPaused: false
          notification_settings:
            receiver: Evento detectado
    - orgId: 1
      name: 10s
      folder: Estado de la ingesta de eventos
      interval: 10s
      rules:
        - uid: bf552829e73lsd
          title: Estado de la ingesta de eventos
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 7776000
                to: 0
              datasourceUid: P3C6603E967DC8568
              model:
                intervalMs: 1000
                maxDataPoints: 43200
                query: "from(bucket: \"ethereum-monitor\")\r\n  |> range(start: -1h)                                       // mirá solo la última hora\r\n  |> filter(fn: (r) => r[\"_measurement\"] == \"beacon_event\")\r\n  |> filter(fn: (r) => r[\"_field\"] == \"count\")\r\n  |> filter(fn: (r) => r[\"endpoint\"] == \"/eth/v1/events\")\r\n  |> filter(fn: (r) => r[\"event_type\"] == \"block\")\r\n  |> filter(fn: (r) => r[\"source\"] != \"localhost/mockEvent\")\r\n  |> group(columns: [\"source\"])                              // 1 alerta por source\r\n  |> last()                                                  // último bloque visto por source\r\n  |> map(fn: (r) => ({\r\n        r with\r\n        _time: now(),                                        // timestamp “ahora”\r\n        _field: \"delay_minutes\",\r\n        _value: float(\r\n          v: (uint(v: now()) - uint(v: r._time))\r\n        ) / 60000000000.0                                    // ns → minutos\r\n  }))\r\n  |> keep(columns: [\"_time\", \"_value\", \"source\"])\r\n  |> yield(name: \"delay_minutes\")\r\n"
                refId: A
            - refId: B
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: last
                refId: B
                settings:
                    mode: replaceNN
                    replaceWithValue: 1
                type: reduce
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 1
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: bela16lm5xtdsf
          panelId: 4
          noDataState: Alerting
          execErrState: Alerting
          annotations:
            __dashboardUid__: bela16lm5xtdsf
            __panelId__: "4"
            description: Indica si existen inconvenientes o no con respecto a la ingesta de eventos
            summary: Estado de la ingesta de eventos
          isPaused: false
          notification_settings:
            receiver: Estado de la ingesta de eventos
